<?xml version="1.0"?>
<!-- 
#####################################################################################
#
# Copyright (c) 2023-2025 Galbot, Inc. All Rights Reserved.
#
# This software contains confidential and proprietary information of Galbot, Inc.
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Galbot, Inc.
#
# UNAUTHORIZED COPYING, USE, OR DISTRIBUTION OF THIS SOFTWARE, OR ANY PORTION OR
# DERIVATIVE THEREOF, IS STRICTLY PROHIBITED. IF YOU HAVE RECEIVED THIS SOFTWARE IN
# ERROR, PLEASE NOTIFY GALBOT, INC. IMMEDIATELY AND DELETE IT FROM YOUR SYSTEM.
#
#####################################################################################
#
# Description: Xacro file for testing galbot suction cup1.
# Author: Herman Ye, Yuhao Zeng@Galbot
#
#####################################################################################
-->
<robot name="galbot_suction_cup1"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Arguments -->
    <xacro:arg name="collision_type" default="convex_decomposition" />
    <!-- Include-->
    <xacro:include
        filename="$(find galbot_one_golf_description)/xacro/suction_cup/galbot_suction_cup1/galbot_suction_cup1.xacro" />
    <!-- Properties -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <!-- Parent link -->
    <link name="base_link" />
    <xacro:galbot_suction_cup1 parent="base_link" name="galbot_suction_cup1"
        collision_type="$(arg collision_type)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:galbot_suction_cup1>
</robot>