<?xml version="1.0"?>
<!-- 
#####################################################################################
#
# Copyright (c) 2023-2025 Galbot, Inc. All Rights Reserved.
#
# This software contains confidential and proprietary information of Galbot, Inc.
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Galbot, Inc.
#
# UNAUTHORIZED COPYING, USE, OR DISTRIBUTION OF THIS SOFTWARE, OR ANY PORTION OR
# DERIVATIVE THEREOF, IS STRICTLY PROHIBITED. IF YOU HAVE RECEIVED THIS SOFTWARE IN
# ERROR, PLEASE NOTIFY GALBOT, INC. IMMEDIATELY AND DELETE IT FROM YOUR SYSTEM.
#
#####################################################################################
#
# Description: Xacro file for testing Galbot gripper1.
# Author: Shi fei@Galbot
#
#####################################################################################
-->
<robot name="test_galbot_gripper1" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:include filename="$(find galbot_one_golf_description)/xacro/gripper/galbot_gripper1/galbot_gripper1.xacro" />

  <xacro:arg name="collision_type" default="convex_decomposition" />
  <!--
    工具选项：（tool_type）
      ori：不带指套
      zhitao：带指套  
   -->
  <xacro:arg name="tool_type" default="zhitao" />
  
  <link name="base_link" />
  <xacro:galbot_gripper1 parent="base_link" name="galbot_gripper1" collision_type="$(arg collision_type)"  tool_type="zhitao" >
     <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:galbot_gripper1>
</robot>