<?xml version='1.0' encoding='UTF-8'?>
<!-- 
#####################################################################################
#
# Copyright (c) 2023-2025 Galbot, Inc. All Rights Reserved.
#
# This software contains confidential and proprietary information of Galbot, Inc.
# ("Confidential Information"). You shall not disclose such Confidential Information
# and shall use it only in accordance with the terms of the license agreement you
# entered into with Galbot, Inc.
#
# UNAUTHORIZED COPYING, USE, OR DISTRIBUTION OF THIS SOFTWARE, OR ANY PORTION OR
# DERIVATIVE THEREOF, IS STRICTLY PROHIBITED. IF YOU HAVE RECEIVED THIS SOFTWARE IN
# ERROR, PLEASE NOTIFY GALBOT, INC. IMMEDIATELY AND DELETE IT FROM YOUR SYSTEM.
#
#####################################################################################
#
# Description: XACRO file for galbot_one_golf omni chassis.
# Maintainer: Herman Ye, Yuhao Zeng@Galbot
#
#####################################################################################
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="omni_chassis">

  <xacro:macro name="omni_chassis"
    params="parent *origin name:=omni_chassis collision_type:=convex_decomposition">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_base_link" />
    </joint>

    <link name="${name}_base_link">
      <inertial>
        <origin xyz="0.02644 -0.00449 0.07524" rpy="0 0 0" />
        <mass value="8.04" />
        <inertia ixx="0.19508898000000002" ixy="0.00306854" ixz="0.01503967" iyy="0.29573702"
          iyz="-0.00295148" izz="0.3313144" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://galbot_one_golf_description/meshes/visual/chassis/omni_chassis_base_link/obj/omni_chassis_base_link.obj" />
        </geometry>
      </visual>
      <xacro:if value="${collision_type == 'sphere'}">
        <collision>
          <origin xyz="0.0 -0.2 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.12" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0.0 0.2 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.12" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0.23 0.0 0.19" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.06" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0.23 0.0 0.08" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.12" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="-0.219 0.0 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.12" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="-0.157 -0.157 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.124" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0.157 0.157 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.123" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="-0.157 0.157 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.123" />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0.157 -0.157 0.11" rpy="0 0 0" />
          <geometry>
            <sphere radius="0.123" />
          </geometry>
        </collision>
      </xacro:if>
      <xacro:if value="${collision_type == 'mesh'}">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
              filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/original/omni_chassis_base_link.stl" />
          </geometry>
        </collision>
      </xacro:if>
      <xacro:if value="${collision_type == 'convex_hull'}">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
              filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_hull/omni_chassis_base_link_convex_hull.stl" />
          </geometry>
        </collision>
      </xacro:if>
      <xacro:if value="${collision_type == 'convex_decomposition'}">
        <!-- Default to simple convex hull-->
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
              filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_hull/omni_chassis_base_link_convex_hull.stl" />
          </geometry>
        </collision>
        <!--         
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_0.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_1.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_2.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_3.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_4.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_5.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_6.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_7.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_8.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_9.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_10.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_11.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_12.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_13.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_14.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_15.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_16.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_17.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_18.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_19.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_20.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_21.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_22.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_23.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_24.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_25.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_26.stl"
        />
          </geometry>
        </collision>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
        filename="package://galbot_one_golf_description/meshes/collision/chassis/omni_chassis_base_link/convex_decomposition/omni_chassis_base_link_convex_decomposition_27.stl"
        />
          </geometry>
        </collision> -->
      </xacro:if>
    </link>

    <link name="${name}_leg_mount_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0" />
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
    <joint name="${name}_leg_mount_joint" type="fixed">
      <origin xyz="0.134 0 0.1325" rpy="0 0 0" />
      <parent link="${name}_base_link" />
      <child link="${name}_leg_mount_link" />
      <axis xyz="0 0 0" />
    </joint>

  </xacro:macro>
</robot>